*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.clear{
    clear: both;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
li{
    list-style-type: none;
}
/*header*/
.black{
    height: 40px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}
.black span{
    color: rgb(60, 60, 214);
}
.header{
    height: 72px;
    background-color: #f3f3f3;
}
.logo{
    float: left;
    height: 100%;
    margin-left: 80px;
}
.logo img{
    vertical-align: -23px;
}
.logo span{
    display: inline-block;
    margin-top: 26px;
    font-weight: 700;
    font-size: 18px;
}
.header-right{
   float: right;
   margin-top: 15px;
   margin-right: 30px;
}
.header-right span{
    font-weight: 400;
    font-size: 14px;
}
.search{
    width: 540px;    
    height: 40px;
    float: left;
    background-color: #fff;
    border-radius: 31px;
    margin-right: 50px;
}
.search img{
    float: left;
    margin-left: 19px;
}
.search span{
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin-top: 9px;
    opacity: 0.5;
}
.head-header span{
    color: #fff;
    width: 145px;
    height: 40px;
    background: #0772BF;
    border-radius: 4px;
    padding: 5px 0px 5px 10px;
}
.head-header li{
    display: inline-block;
    margin: 16px;
    font-size: 16px;
}
.head-header ul{
    margin-left: 80px;
}
.sale{
    color: red;
}
.slider{
    width: 1428px;
    height: 464px;
    color: #fff;
    background: url("../img/st_banner 1.png") no-repeat center;
}
.slider h1{
    margin-top: 10px; 
}
/*catalog-menu*/
h1{
    font-size: 32px;
    font-weight: 700;
    margin-left: 80px;
    margin-top: 50px;
}
.catalog-menu .Cattegories{
    margin-left: 80px;
    color: #5E5C5C;
    font-size: 16px;
    font-weight: 400;
    width: 256px;
    height: 175px;
    border-bottom: #5E5C5C;
    padding: 10px 0px;
    line-height: 35px;
}
.catalog-menu .Cattegories1{
    margin-left: 80px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    width: 256px;
    height: 40px;
    border-bottom: #5E5C5C;
    padding: 10px 0px;
    line-height: 35px;
}
.catalog-menu .Cattegories span{
    color: #000000;
}