*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.clear{
    clear: both;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/*header*/
.header{
    border: 1px solid blue;
    padding-top: 21px;
}
.logo{
    border: 1px solid red;
    float: left;
}
.logo img{
    vertical-align: text-bottom;
}
.header-right{
    border: 1px solid green;
    float: right;
}
